* {
    margin: 0;
    text-decoration: none;
    font-family: "MavenProRegular";
}

a {
    color: #fff;
}

li {
    list-style-type: none;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

.navigation {
    -webkit-backface-visibility: hidden;
    z-index: 5;
    position: fixed;
    top: 37%;
    right: 25px;
    margin-top: -40px;
}

.navigation li {
    height: 10px;
    margin-bottom: 70px;
}

.navigation a {
    display: block;
    width: 13px;
    height: 13px;
    text-indent: -9999px;
    border-radius: 25px;
    border: 1px solid #fff
}

.navigation a:hover {
    border-radius: 25px;
    background-color: #fff;
    transition: .3s ease-in-out;
}

.navigation a .active {
    border-radius: 25px;
    background-color: #fff;
}

h1 {
    font-size: 50px;
}

#fullpage {
    width: 100%;
    height: 100%;
}

.intro {
    width: 100%;
    height: 100%;
    margin-top: 0;
    background-image: -webkit-linear-gradient(top, #16C08E 0%, #4CCCC1 100%);
    background-image: linear-gradient(to bottom, #16C08E 0%, #4CCCC1 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #16C08E), color-stop(1, #4CCCC1));
    background-image: -o-linear-gradient(top, #16C08E 0%, #4CCCC1 100%);
    background-image: -moz-linear-gradient(top, #16C08E 0%, #4CCCC1 100%);
    background-image: -ms-linear-gradient(top, #16C08E 0%, #4CCCC1 100%);
    h1 {
        text-align: center;
        font-size: 50px;
        color: #fff;
        position: relative;
        top: 30%;
        background: rgba(0, 0, 0, 0);
        font-family: "MavenProRegular";
    }
    img {}
}

.project_1 {
    width: 100%;
    height: 100%;
    background: url("../img/booey.jpg") center no-repeat;
    background-size: cover;
    h1, p {
        color: #fff;
        text-align: center;
        position: relative;
    }
    h1 {
        top: 35%;
    }
    p {
        top: 40%;
        font-size: 20px;
        line-height: 175%;
    }
}

.project_2 {
    width: 100%;
    height: 100%;
    background: url("../img/dude.jpg") center no-repeat;
    background-size: cover;
    h1, p {
        color: #fff;
        text-align: center;
        position: relative;
    }
    h1 {
        top: 35%;
    }
    p {
        top: 40%;
        font-size: 20px;
        line-height: 175%;
    }
}

.about {
    width: 100%;
    height: 100%;
    background: url("../img/about.jpg") no-repeat;
    background-size: cover;
    .verb {
        width: 45%;
        position: relative;
        top: 30%;
        transform: translateX(100%);
    }
    p {
        color: #fff;
        line-height: 175%;
        font-size: 18px;
    }
    ul {}
}

.social {
    position: relative;
    top: 33%;
    transform: translateX(42%);
    ul {
        display: block;
        width: 100px;
        height: 50px;
    }
    li {
        display: inline-block;
    }
    i {
        color: #ff8534;
        transition: color 0.5s ease;
        margin-right: 15px;
    }
    i:hover {
        color: #024039;
    }
}
